@page "/EditarVehiculo/{Matricula}"
@rendermode InteractiveServer
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JS
@using WebApiNet.Models
@using WebApiNet.Tipos

<h3>EditarVehiculo</h3>

<div>

</div>

@code {

}
