@page "/"
@using AlquilerVehiculosWeb.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Inicio - Alquiler</PageTitle>

<h1>Gestión de Alquiler de Vehículos</h1>

<div class="alert alert-info">
    Bienvenido al sistema. Estás conectado desde: <strong>@plataforma</strong>
</div>


@code {
    private string? plataforma;
    private string busqueda = "";

    // Unificamos aquí todas las propiedades y lógica
    private string factor => FormFactor.GetFormFactor();

    protected override void OnInitialized()
    {
        plataforma = FormFactor.GetPlatform();
    }
}